.container {
  background-color: rgb(194, 194, 194);
  box-shadow: 0 0 10px var(--box-shadow);
  width: 30rem;
  height: 36rem;
  border-radius: 12px;
  border: none;
  padding: 30px;
}

.container h1 {
  color: black;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
    width: 22rem;
  }

  .container h1 {
    margin-top: 15px;
  }
}

.span-wrapper {
  font-weight: 790;
  color: var(--icon-color-blue);
}

.components {
  margin-top: 20px;
}

.components button {
  background-color: rgb(4, 0, 255);
  height: 3rem;
  width: 26.2rem;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  margin-top: 10px;
  font-size: larger;
  transition: 0.5s ease;
}

.components button:hover {
  cursor: pointer;
  background-color: #001744;
}

@media screen and (max-width: 768px) {
  .components button {
    width: 20rem;
  }
}

/* layout */
.json-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.json-row input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 255, 255);
}
.json-row ::placeholder {
  font-weight: 600;
}

.json-row input[type="text"]:focus {
  outline: none;
  border-color: rgb(25, 0, 255);
  box-shadow: 0 0 20px rgba(0, 89, 255, 0.5);
}

.json-row input:hover {cursor: pointer;}

@media screen and (max-width: 768px) {
  .json-row input {
    width: 148px;
  }

  .json-row ::placeholder {
    font-size: 12px;
  }
}
.json-output {
  height: 260px;
  background-color: #282c34;
  color: #abb2bf;
  border-radius: 8px;
  margin-top: 10px;
  overflow-x: auto;
}

.json-output:hover { cursor: text; }

.json-output button {
  background-color: transparent;
  color: rgb(205, 209, 255);
  border: 1px solid rgb(106, 108, 131);
  padding: 5px;
  border-radius: 8px;
  margin-top: 8px;
  margin-left: 320px;
}

@media screen and (max-width: 768px) {
  .json-output button {
    margin-left: 220px;
  }
}

.json-output button:hover {cursor: pointer;}

@media screen and (max-width: 768px) {
  .json-output {
    width: 20rem;
  }
}

.code-json {
  font-family: "Jetbrains Mono", Consolas, monospace;
  font-size: 16px;
  padding-left: 30px;
  margin: 0;
  display: block;
}

@media screen and (max-width: 768px) {
  .code-json {
    padding-left: 20px;
    font-size: 15px;
  }
}

.code-json:hover { cursor: text; }

.result {
  display: flex;
  gap: 10px;
}
