.container {
    background-color: rgb(194, 194, 194);
    box-shadow: 0 0 10px var(--box-shadow);
    width: 30rem;
    height: 32rem;
    border-radius: 12px;
    border: none;
    padding: 30px;
}

.container h1 {
    color: black;
    text-align: center;
}

.span-wrapper {
    font-weight: 790;
    color: var(--icon-color-blue)
}

.components {margin-top: 20px;}

.components button{
    background-color: rgb(4, 0, 255);
    height: 3rem;
    width: 26.2rem;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    margin-top: 10px;
    font-size: larger;
}

/* layout */
.json-row {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    margin-bottom: 10px; 
}

.json-row input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
}

.json-output {
    height: 200px;
    background-color: #282c34; 
    color: #abb2bf; 
    border-radius: 8px;
    margin-top: 10px;
    overflow-x: auto; 
}

.code-json {
    font-family: 'Jetbrains Mono', Consolas, monospace; 
    font-size: 14px;
    padding: 0; 
    margin: 0;
    display: block; 
}